body {
  background:#222;
  padding:0;
  margin:0;
  font-family: 'Roboto Condensed', sans-serif;
}
#map {
  height: 100vh;
  width: 100vw;
  background: #848fe1;
}
#coords {
  position: absolute;
  right: 0%;
  bottom: 0%;
  display: inline-block;
  padding: 5px;
  background: rgba(0,0,0,0.5);
  color:#eee;
  margin: 0;
}
.leaflet-popup-content {
  white-space:nowrap;
}
.leaflet-popup-content i {
  cursor: pointer;
  margin: 0 10px;
  color: #933;
  font-size: 17.6px;
  display: inline-block;
  vertical-align: middle;
  line-height: 0.8;
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8827ul');
  src:  url('fonts/icomoon.eot?8827ul#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8827ul') format('truetype'),
    url('fonts/icomoon.woff?8827ul') format('woff'),
    url('fonts/icomoon.svg?8827ul#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bin:before {
  content: "\e901";
}
.icon-github:before {
  content: "\e900";
}
